<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net472" />
  <package id="ArduinoUploader" version="3.2.0" targetFramework="net472" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net472" />
  <package id="Fody" version="6.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="IntelHexFormatReader" version="2.2.1" targetFramework="net472" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net472" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="4.3.0" targetFramework="net472" />
  <package id="runtime.osx.10.10-x64.CoreCompat.System.Drawing" version="5.8.64" targetFramework="net472" />
  <package id="ScottPlot" version="4.0.34" targetFramework="net472" />
  <package id="ScottPlot.WinForms" version="4.0.34" targetFramework="net472" />
  <package id="SerialPortStream" version="2.1.2" targetFramework="net472" />
  <package id="System.Collections" version="4.3.0" targetFramework="net472" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.FileVersionInfo" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net472" />
  <package id="System.Diagnostics.TraceSource" version="4.3.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Overlapped" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.ThreadPool" version="4.3.0" targetFramework="net472" />
</packages>